body{
    margin: 0px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(172, 67%, 45%);
    font-family: 'Space Mono', monospace;

    


}
input{
    background-color:hsl(189, 41%, 97%);
}
label
,h4{
    color:hsl(186, 14%, 43%)
}
.container{
    height: 400px;
    width: 800px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
   

}
.di{
    float: left;
    width: 50%;
    margin: 10px;
}
/* left div */
.ldiv{
    position: relative;

}
.top1{
    
    position: relative;
    left: 20px;
    top: 5px;

}
.tip{
    position: relative;
    left: 20px;
    top: 40px;
}
.button-class{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(2,40px);
    gap: 10px;
    position: relative;
    top: 45px;
    left: 20px;
}
button{
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    border: 0px;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    color:hsl(0, 0%, 100%)
    

}
.custom{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    font-family: 'Space Mono', monospace;
    text-align: right;

}
.footer-1{
   
    position: relative;
    left: 22px;
    top:90px
}
.ppl,.bill-amt {
    width: 300px;
    height:30px;
    border-radius: 5px;
    border: 0px;
    
}
/* .bill-amt{
    width: 300px;
    height:40px;
    border-radius: 5px;
    border: 0px;
    
} */

/* right div */
.rdiv{
    background-color:hsl(183, 100%, 15%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    position: relative;

    
}
.rdiv1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    
}
.rinner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rinner2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.reset-button{
    width: 300px;
    height: 40px;
    margin: 0px;
    position: relative;
    left: 35px;
    bottom: 20px;
    background-color:hsl(172, 67%, 45%) ;
    color: hsl(183, 100%, 15%);
}
p{
    color:hsl(0, 0%, 100%)
}
.amt,.amt-per-person{
    color:  hsl(172, 67%, 45%);
    font-size: 24px;
}
.bill-amt{
    background: url("images/icon-dollar.svg") no-repeat scroll 7px 7px;

    text-align: right;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: hsl(183, 100%, 15%);

}
.ppl{
    background: url("images/icon-person.svg") no-repeat scroll 7px 7px;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: hsl(183, 100%, 15%);

    text-align: right;

}
input{
    outline: none;
    background-color:  hsl(185, 41%, 84%);


}
button:hover{
    background-color:hsl(185, 41%, 84%);
    color:hsl(183, 100%, 15%); 
}
